<div class="container">

  <div class="influencer-content">

    <div class="influencer-banner">
      <%= image_tag @influencer.banner_img, class: "banner"%>
    </div>

    <div class="influencer-avatar text-center">
      <div class="image"><%= image_tag @influencer.avatar, class: "avatar"%></div>
    </div>

    <div class="influencer-contact">

    <% if current_user.influencers.include?(@influencer) %>
      <%= link_to 'Remove from favorite', favorite_path(@influencer), method: :delete, class: "btn btn-danger" %>
    <% else %>
      <%= link_to 'Add to favorite', favorites_path(id: @influencer.id), method: :post, class: "btn btn-danger" %>
    <% end %>

      <%= link_to 'Contact', '', class: "btn btn-danger" %>
    </div>

    <div class="influencer-infos text-center">
     <h3><%= @influencer.pseudo %></h3>
      <p><%= @influencer.language %></p>
      <p><strong><%= @influencer.category.name %></strong></p>
    </div>

    <div class="influencer-description text-center">
      <%= @influencer.description %>
    </div>

    <div class="social-container">
      <div class="cards-container col-xs-12 col-sm-6 col-md-6">

        <div class="card fb-card">
          <i class="fa fa-facebook" aria-hidden="true"></i>
          <i class="fa fa-thumbs-up" aria-hidden="true"> <%= @influencer.fb_followers %> </i>
          <i class="fa fa-eye" aria-hidden="true"> 100K </i>
        </div>

        <div class="card tw-card">
          <i class="fa fa-twitter" aria-hidden="true"></i>
          <i class="fa fa-thumbs-up" aria-hidden="true"> <%= @influencer.tw_followers %> </i>
        </div>

        <div class="card ig-card">
          <i class="fa fa-instagram" aria-hidden="true"></i>
          <i class="fa fa-thumbs-up" aria-hidden="true"> <%= @influencer.ig_followers %> </i>
        </div>

      </div>

      <div class="pictures-container col-xs-12 col-sm-6 col-md-6">

        <div> <%= image_tag 'http://lorempixel.com/300/150/people/', class: "col-xs-12" %>
        </div>

        <div>
          <%= image_tag 'http://lorempixel.com/150/150/people/', class: "col-xs-6" %>
        </div>

        <div>
          <%= image_tag 'http://lorempixel.com/150/150/people/', class: "col-xs-6" %>
        </div>

        <div>
          <%= image_tag 'http://lorempixel.com/300/150/people/', class: "col-xs-12" %>
        </div>

      </div>
    </div>

  </div>

</div>

