
<div class="card">
  <div class="card-photo">
     <%= image_tag influencer.avatar, class: "card-avatar center-block" %>
  </div>



    <%= link_to favorites_path(id: influencer.id), method: :post do %><span class="fa fa-heart-o coeur"></span><% end %>



  <div class="card-description" align="center"><%= link_to '', influencer_path(influencer), class: "card-link"%>
    <h2> <%= influencer.pseudo %></h2>


  </div>

  <div class="card-rs">
    <p class="followers">Followers</p>
   <ul class="fa-ul">
    <li><i class="fa fa-facebook-square"></i> <%= influencer.fb_followers %></li>
    <li><i class="fa fa-instagram"></i> <%= influencer.ig_followers %></li>
    <li><i class="fa fa-twitter-square"></i> <%= influencer.tw_followers %></li>
  </ul>
  </div>
  <div class="search-tags">
    <p>
      <%= influencer.language %>
      <i class="fa fa-flag" aria-hidden="true"></i>
      <%= influencer.category.name %>
    </p>
  </div>
  <div>
  <%= link_to '', influencer_path(influencer), class: "card-link"%>
  </div>
</div>


