
<!--footer light 2 begin-->
<footer class="footer-light-2">
    <div class="container">
      <div class="row">
          <div class="col-md-4 col-sm-4 margin30">
              <h3>About</h3>
              <p>
                  Influoo is the place to find the influencers that match your brand identity. Enlarge your community through worldwide influencers.
              </p>
              <%= link_to 'About', about_path, class: "btn btn-danger btn-footer" %>

          </div>
          <!--col-->
            <div class="col-md-4 col-sm-4 margin30">
              <h3>Choose your category</h3>
              <ul class="list-unstyled footer-news">
                  <li>
                      <%= link_to 'Fashion influencers', "#{root_url}influencers?search%5Blanguage%5D=&search%5Bplatform%5D=&search%5Bcategory%5D=1&commit=Search", class: "link-footer" %>
                  </li>
                   <li>
                      <%= link_to 'Sport influencers', "#{root_url}influencers?search%5Blanguage%5D=&search%5Bplatform%5D=&search%5Bcategory%5D=2&commit=Search", class: "link-footer"  %>
                  </li>
                   <li>
                      <%= link_to 'Tech influencers', "#{root_url}influencers?search%5Blanguage%5D=&search%5Bplatform%5D=&search%5Bcategory%5D=3&commit=Search", class: "link-footer"  %>
                  </li>
              </ul>

          </div><!--col-->
            <div class="col-md-4 col-sm-4 margin30">
              <h3>Find us</h3>
              <div class="find-us">
                  <p>
                 Influoo, 2 Avenue des Saules,  Lille, FRANCE
              </p>
              <p>
                  info@influoo.com
              </p>
              <p>
                  +33 945 674 545
              </p>
              <p><%= link_to 'Contact us', contact_path, class: "btn btn-danger btn-footer" %></p>
              </div>

          </div><!--col-->
      </div><!--row-->
  </div><!--main footer-->
  <div class="footer-bottom">

          <div class="row">
               <div class="col-sm-8 col-sm-offset-2 text-center">
                  <ul class="list-inline footer-social">
                      <li>
                          <a href="#">
                              <i class="fa fa-facebook"></i>

                          </a>
                      </li>
                      <li>
                          <a href="#" >
                              <i class="fa fa-twitter"></i>
                          </a>
                      </li>
                      <li>
                          <a href="#">
                              <i class="fa fa-google-plus"></i>
                          </a>
                      </li>
                      <li>
                          <a href="#" >
                              <i class="fa fa-pinterest"></i>
                          </a>
                      </li>
                      <li>
                          <a href="#" >
                              <i class="fa fa-linkedin"></i>
                          </a>
                      </li>
                  </ul>
                   <p>Copyright Influoo&copy; 2017. All right reserved.</p>
              </div>
          </div>
    </div>
</footer>
