<div class="container search_form">
  <%= simple_form_for :search, url: influencers_path, method: 'get'  do |f| %>
    <div class="row">
      <div class="col-xs-12 col-sm-3"><%= f.input :language, collection: ["French", "Spanish", "English"] , prompt: "Language", label: false%></div>
           <div class="col-xs-12 col-sm-3"><%= f.input :platform, collection: ["Facebook", "Instagram", "Twitter"], prompt: "Platform", label: false%></div>
           <div class="col-xs-12 col-sm-3"><%= f.input :category, collection: Category.all , prompt: "Category", label: false%></div>

      <div class="col-xs-12 col-sm-3"><%= f.submit "Search", class: "btn btn-success" %></div>
    </div>
  <% end %>
</div>

