<div class="row search_bar">
  <div class="container search_form">
    <%= simple_form_for :search, url: influencers_path, method: 'get', html: {class: 'charity-contact'}  do |f| %>
    <div class="col-xs-12 col-sm-3">
      <div class="input-group mb-2 mr-sm-2 mb-sm-0">
        <div class="input-group-addon"><i class="fa fa-globe" aria-hidden="true"></i></div>
        <%= f.input :language, collection: ["French", "Spanish", "English"] , prompt: "Language", label: false, placeholder: 'Language', class: 'form-control' %>
      </div>
    </div>
    <div class="col-xs-12 col-sm-3">
      <div class="input-group mb-2 mr-sm-2 mb-sm-0">
        <div class="input-group-addon"><i class="fa fa-slack" aria-hidden="true"></i></div>
        <%= f.input :platform, collection: ["Facebook", "Instagram", "Twitter"], prompt: "Platform", label: false, placeholder: 'Platform' %>
      </div>
    </div>
    <div class="col-xs-12 col-sm-3">
      <div class="input-group mb-2 mr-sm-2 mb-sm-0">
        <div class="input-group-addon"><i class="fa fa-bars" aria-hidden="true"></i></div>
        <% if params[:search] == nil %>
        <%= f.input :category, collection: Category.all , prompt: "Category", label: false, placeholder: 'Category' %>
        <% else %>
        <% if params[:search][:category] == "" %>
        <%= f.input :category, collection: Category.all , prompt: "Category", label: false, placeholder: 'Category' %>
        <% else %>
        <%= f.input :category, collection: Category.all , prompt: "Category", label: false, placeholder: 'Category', selected: params[:search][:category].to_i  %>
        <% end %>
        <% end %>
      </div>
    </div>

    <div class="col-xs-12 col-sm-3"><%= f.submit "Search for influencers", class: "btn btn-danger btn-footer search_button" %></div>
    <% end %>
  </div>
</div>

