<div class="row">
  <div class="divide60"></div>
  <div class="col-xs-4 col-sd-4">
    <div class="inbox-card">
      <% if  conversation.opposed_user(@user).influencer %>
        <%= render 'pages/info_card_influencer', influencer: @influencer %>
      <% else %>
        <%= render 'pages/info_card_pro', pro: conversation.opposed_user(@user) %>
      <% end %>
    </div>
    <ul class="user-list">
      <% conversations.each do |conversation| %>
        <li>
          <%= image_tag (conversation.opposed_user(@user).avatar ? conversation.opposed_user(@user).avatar : 'http://via.placeholder.com/30x30'), class: "avatar msg-avatar" %>
          <%= link_to conversation.opposed_user(@user).first_name, conversation_path(conversation.id), class: "btn buton-profile opposed_user" %>
        </li>
      <% end %>
    </ul>
  </div>
  <div class="col-xs-8 col-sd-8">
    <div class="current-conversation"><h3 class="text-center">Chat with <%= @conversation.opposed_user(@user).first_name %></h3>
    </div>
    <div id="messages-list" data-conversation-id="<%= @conversation.id %>" data-current-user-id="<%= current_user.id %>">
      <ul>
        <% conversation.messages.each do |message| %>
          <%= render 'messages/message', user: current_user, message: message %>
        <% end %>
      </ul>
    </div>
    <%= form_for [conversation, conversation.messages.new], remote: true do |f| %>
      <%= f.hidden_field :user_id, value: current_user.id %>
      <%= f.text_area :content, class: "form-control" %>
      <%= f.submit "Send", class: "btn buton-profile" %>
    <% end %>
  </div>
</div>
