<div class="row">
  <div class="divide60"></div>
  <div class="col-xs-4 col-sd-4">
    <div class="inbox-card">
      <div>
        <h3 class="text-center"><%= @influencer.pseudo %></h3>
      </div>
      <div class="influencer-infos">
        <div class="inline-infos">
          <%= image_tag @influencer.avatar, class: "avatar avatar-info" %>
        </div>
        <div class="inline-infos">
          <div>
            <i class="fa fa-facebook-square"></i> <%= @influencer.fb_followers %>
          </div>
          <div>
            <i class="fa fa-instagram"></i> <%= @influencer.ig_followers %>
          </div>
          <div>
            <i class="fa fa-twitter-square"></i> <%= @influencer.tw_followers %>
          </div>
        </div>
      </div>
      <%= link_to '', influencer_path(@influencer), class: "info-link", title: "See #{@influencer.pseudo}'s profile" %>
    </div>
    <ul class="user-list">
      <% conversations.each do |conversation| %>
        <li>
          <%= image_tag conversation.opposed_user(@user).avatar, class: "avatar msg-avatar" %>
          <%= link_to conversation.opposed_user(@user).first_name, conversation_path(conversation.id), class: "btn buton-profile opposed_user" %>
        </li>
      <% end %>
    </ul>
  </div>
  <div class="col-xs-8 col-sd-8">
    <div class="current-conversation"><h3 class="text-center">Chat with <%= @conversation.opposed_user(@user).first_name %></h3>
    </div>
    <div id="messages-list">
      <ul>
        <% conversation.messages.each do |message| %>
          <%= render 'messages/message', user: current_user, message: message %>
        <% end %>
      </ul>
    </div>
    <%= form_for [conversation, conversation.messages.new], remote: true do |f| %>
      <%= f.hidden_field :user_id, value: current_user.id %>
      <%= f.text_area :content, class: "form-control" %>
      <%= f.submit "Send", class: "btn buton-profile" %>
    <% end %>
  </div>
</div>
