      <div>
        <h3 class="text-center"><%= influencer.pseudo %></h3>
      </div>
      <div class="influencer-infos">
        <div class="inline-infos">
          <%= image_tag influencer.avatar, class: "avatar avatar-info" %>
        </div>
        <div class="inline-infos">
          <div>
            <i class="fa fa-facebook-square"></i> <%= influencer.fb_followers %>
          </div>
          <div>
            <i class="fa fa-instagram"></i> <%= influencer.ig_followers %>
          </div>
          <div>
            <i class="fa fa-twitter-square"></i> <%= influencer.tw_followers %>
          </div>
        </div>
      </div>
      <%= link_to '', influencer_path(influencer), class: "info-link", title: "See #{influencer.pseudo}'s profile" %>
