
<%= render 'title_and_h1', user: current_user %>

<div class="col-xs-12">
  <div class="tabs container">
    <ul class="nav nav-tabs">
      <li class="active"><a data-toggle="tab" id="tab1" href="#inbox" aria-expanded="true"> Inbox</a></li>
      <li class=""><a data-toggle="tab" id="tab2" href="#Profile" aria-expanded="false">Profile</a></li>
      <li class=""><a data-toggle="tab" id="tab3" href="#Favorites" aria-expanded="false">Favorites</a></li>
    </ul>
    <div class="tab-content">
      <div id="inbox" class="tab-pane active">
        <%= render 'inbox', conversations: @conversations, users: @users %>
      </div>
      <div id="Profile" class="tab-pane"">
        <h3>Edit your profile</h3>
        <% if  @user.influencer %>
           <%= render "influencers/form_edit_influencer" %>
        <% end %>
        <%= render 'devise/registrations/edit' %>
      </div>
      <div id="Favorites" class="tab-pane">
        <div class="row">
        <% @favorites.each do |favorite| %>
          <div class="col-xs-12 col-sm-3 col-md-3">
            <%= render "shared/card", influencer: favorite.influencer %>
          </div>
        <% end %>
          </div>
      </div>
    </div>
  </div>
  </div>
