
<div class="container">
  <div class="divide30"></div>
  <div class="main_title">
    <h1>Go Premium. Be happy</h1>
  </div>

  <div class="row col-sm-offset-2 col-sm-8 ">
    <div class="col-sm-6">
      <div class="pricing-simple">
        <h4 style="color: #FA826F">Why go Premium ?<p>Contact Access</p></h4>

        <ul class="list-unstyled">
          <div class="divide10"></div>
          <i class="fa fa-comments-o" style="font-size: 50px; color: #2E426B;" aria-hidden="true"></i>
          <p>
            Contact the influencers directly with our specific dashboard and propose him your project : mission, deadline, price.</p>
            <p>
              Get the agreements in principle and availabilities that you need very quickly.
            </p>
          </ul>
          <div class="bottom">
          <%= link_to "Not for me", influencers_path, class: "btn btn-danger btn-payment" %>
          </div>
          <div class="divide20"></div>
        </div>
      </div><!--price col end-->
      <div class="col-sm-6">
        <div class="pricing-simple popular" style="background-color: white">
          <h4 style="color: #FA826F">PREMIUM<p><%= humanized_money_with_symbol(@subscription.price)%>/ month</p></h4>
          <div class="divide30"></div>
          <ul class="list-unstyled">
            <li><i class="fa fa-check-square"></i>Search for influencers </li>
            <li><i class="fa fa-check-square"></i>See influencer profil and stats</li>
            <li><i class="fa fa-check-square"></i>Chat with influencers </li>
            <li><i class="fa fa-check-square"></i>Book influencers </li>
            <li><i class="fa fa-check-square"></i>Usefull dashboard </li>

          </ul>
          <%= form_tag subscription_payments_path(@subscription) do %>

          <div class="bottom" >
          <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
            data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
            data-name="My subscription"
            data-email="<%= current_user.email %>"
            data-description="subscription <%= @subscription.sku %>"
            data-amount="<%= @subscription.price_cents %>"
            data-currency="<%= @subscription.price.currency %>"></script>
          </div>
          <% end %>
          <div class="divide15"></div>
        </div>
      </div><!--price col end-->
    </div><!--pricing tables 1 simple row end-->

  </div>




