
<div class="container">
  <div class="divide30"></div>
  <div class="main_title">
    <h1>Go Premium. Be happy</h1>
  </div>
  <div class="row col-sm-offset-4 col-sm-8 ">
    <div class="col-sm-6">
      <div class="pricing-simple popular" style="background-color: white">
        <h4 style="color: #FA826F">PREMIUM<p><%= humanized_money_with_symbol(@subscription.price)%>/ month</p></h4>
        <ul class="list-unstyled">
          <li><i class="fa fa-check-square"></i>Search for influencers </li>
          <li><i class="fa fa-check-square"></i>See influencer profil and stats</li>
          <li><i class="fa fa-check-square"></i>Chat with influencers </li>
          <li><i class="fa fa-check-square"></i>Book influencers </li>
          <li><i class="fa fa-check-square"></i>Usefull dashboard </li>
        </ul>


      <%= form_tag subscription_payments_path(@subscription) do %>

        <div class="bottom" >
          <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
          data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
          data-name="My subscription"
          data-email="<%= current_user.email %>"
          data-description="subscription <%= @subscription.sku %>"
          data-amount="<%= @subscription.price_cents %>"
          data-currency="<%= @subscription.price.currency %>"></script>
        </div>
      <% end %>
      </div>
    </div>
  </div>
</div>
